@model lab05.Models.Carro

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Carro</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Modelo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Modelo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NumeroDePassageiros)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumeroDePassageiros)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NumeroDePortas)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumeroDePortas)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EmissoesCO2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmissoesCO2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TipoCaixa)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TipoCaixa)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Marca)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Marca)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CarroId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
